@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-640px * 4));
    }
}
.animate-scrolling{
    animation: scroll 40s linear infinite;
}
